.navbar-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(209, 189, 74);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  margin-bottom: 100px;
}

.brand {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 10px; 
}



